.app-arrival-accordion-disable .ac-item {
	margin-bottom: 10px;
	padding: 12px 20px;
	border-radius: 5px;
	border: 1px solid #e4e6ef;
}

.app-arrival-map-wrapper {
	position: relative;
}

.app-arrival-more-info-terminal-a-button {
	position: absolute;
	top: 43%;
	left: 66%;
}

.app-arrival-more-info-terminal-b-button {
	position: absolute;
	top: 60%;
	left: 98%;
}

.app-arrival-more-info-terminal-c-button {
	position: absolute;
	top: 39%;
	left: 34%;
}