.app-primary-bg {
	background-color: #fcce49;
}

.app-secondary-bg {
	background-color: #fcc13d;
}

.app-tertiary-bg {
	background-color: #efb731;
}

.app-accent-bg {
	background-color: #29b2b8;
}

.app-neutral-white-bg {
	background-color: #ffffff;
}

.app-neutral-black-bg {
	background-color: #000000;
}

.app-neutral-grey-1-bg {
	background-color: #8c8c8c;
}

.app-neutral-grey-2-bg {
	background-color: #434343;
}

.app-neutral-grey-3-bg {
	background-color: #181818;
}