.app-primary-text {
	color: #fcce49 !important;
}

.app-secondary-text {
	color: #fcc13d !important;
}

.app-tertiary-text {
	color: #efb731 !important;
}

.app-accent-text {
	color: #29b2b8 !important;
}

.app-neutral-white-text {
	color: #ffffff !important;
}

.app-neutral-black-text {
	color: #000000 !important;
}

.app-neutral-grey-1-text {
	color: #8c8c8c !important;
}

.app-neutral-grey-2-text {
	color: #434343 !important;
}

.app-neutral-grey-3-text {
	color: #181818 !important;
}